<ion-header>
    <ion-toolbar color="warning" >
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title text-center>
        PeerAssist
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <div>
  <ion-row>
  <ion-label>CSULB ID</ion-label><input type="text">
  </ion-row>
  <ion-row>
  <ion-label>Password</ion-label><input type="password">
  </ion-row>
  <ion-row>
  <ion-button (click) = "setAdvisee()">Advisee</ion-button>
  <ion-button (click) = "setAdvisor()">Advisor</ion-button>
  </ion-row>
  <ion-button (click) = "goHome()">Sign In</ion-button>
</div>
</ion-content>
