<ion-app>
    <ion-menu side="start">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            Peer Assist
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle>
              <ion-item lines="none" routerLink="/tabs/courses">
                <ion-icon name="book" slot="start"></ion-icon>
                <ion-label>Courses</ion-label>
              </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
              <ion-item lines="none" routerLink="/tabs/login">
                <ion-icon name="checkbox-outline" slot="start"></ion-icon>
                <ion-label>Login</ion-label>
              </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-app>
  